
*.pyc

*/.ipynb_checkpoints/

docs/source/.ipynb_checkpoints/

documentation/build/

documentation/source/.ipynb_checkpoints/

documentation/source/_autosummary/

documentation/source/api/

examples/kite/results/

examples/kite/.ipynb_checkpoints/

examples/kite/models/
